Guidelines specification for CRED_PSK

* "The authentication credential CRED_PSK substitutes CRED_I and CRED_R specified in [RFC9528], and, when applicable, MUST follow the same guidelines described in Section 3.5.2 and Section 3.5.3 of [RFC9528]." (NOT FIXED)
* Please spell out in this draft exactly what guidelines apply to CRED_PSK.